<h2>New Costume here</h2>

<%= form_with(url: costumes_path(@costume), method: :get, local: true)  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
    <br>
    <br>
  <%= f.label "What kind of commission are you requesting?", class: "control-label" %>
  <%= f.select :style, 
    {
      "Full Suits:" => [["plantigrade full", "plantigrade"], ["digigrade full", "digigrade"]],
      "Suit Parts:" => [["head", "head"], ["tail", "tail"], ["hand-paws", "hand_paws"], ["feet-paws", "feed_paws"], ["mini-partial suit", "mini_partial"], ["3/4 partial suit", "3_4ths"]]
    }, selected: "head" %> 
    <br>
    <br>
  <%=  f.label "Select a Designer", class: "control-label"%>
  <%=  f.collection_select :globaluser_id, @designers, :id, :username, prompt: true%>
    <br>
    <br>
  <%= f.label :reference_sheet %>
  <%= f.text_field :reference_sheet %>
    <br>
  <%= f.submit %>
<% end %>
