<%# This should be all the commissions submitted by the CLIENT %>
<%# OR this page should display the error that they don't have any commissioned costumes%>

<h1>Here are your commissions, <%= current_user.username %>:</h1>

<% Costume.all.each do |c|%>
  <%= c.title %>
    <p> <%= c.style %></p>
    <p> <%= c.reference_sheet %></p>
    <h2>If there any errors with your submission:</h2><br>
    <%= link_to "Fix it!", edit_globaluser_costume_path(c) %>
<% end %>
   