<h1>Before you're ready to submit or recieve costume commissions, please complete your account profile:</h1>
   
<%=  form_for(@user, url: '/complete') do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <br>  
<%= f.label "Please select an account type:" %>
  <br>
  <%= f.label "CLIENT:" %>
  <%= f.check_box :client, {}, true, false %> 
  <%= f.label "DESIGNER:" %>
  <%= f.check_box :designer, {}, true, false %>
  <br>
  <br>
<%= f.submit "complete profile" %>
  <% end %>
