<h1> Sign Up </h1>

  <%=  form_for(@user, url: '/signup') do |f|%>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, required:true %>
    <br>
    <br>
    <%= f.label "Please select an account type:" %>
    <br>
    <%= f.label "CLIENT:" %>
    <%= f.check_box :client, {}, true, false %> 
    <%= f.label "DESIGNER:" %>
    <%= f.check_box :designer, {}, true, false %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
     <%= f.label "(must be 6-20 characters long)" %>
    <br>
    <br>
    <%= f.submit "Submit" %>

  <% end %>
