<h1> Sign Up </h1>

<% if @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |error_message| %>
    <%= error_message if @user.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

  <%=  form_for(@user, url: '/signup') do |f|%>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, required:true %>
    <br>
    <br>
    <%= f.label "Please select an account type:" %>
    <%= f.select :client, options_for_select([["Client", @user.client], ["Designer", @user.designer]]) %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
     <%= f.label "(must be 6-20 characters long)" %>
    <br>
    <br>
    <%= f.submit "Submit" %>

  <% end %>
