<h1>I'm on my profile page!!</h2>


  <% if @user.client %>
    <%= link_to "Commission", '/globalusers/globaluser_id/costumes/new'%> | 
    <%= link_to "My Costumes", '/globalusers/:globaluser_id/costumes'%>
  <% else @user.designer %>
    <%=  link_to "", '' %>
    <%=  link_to "", '' %>
    <%=  link_to "", '' %>
  <% end %>
