
<!DOCTYPE html>
<html>
  <head>
    <title>ClientConnectionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
  <!---------------NAVBAR--------------->
  <div>
    <% if logged_in?%>
      <%= link_to "Logout", logout_path, method: "delete" %> | 
      <%= link_to "Home", root_path %> | 
      <%= link_to "Profile",  '/profile' %> 
    <% else %>
      <%= link_to "Sign Up", signup_path %> |
      <%= link_to "Log in", login_path %> 
      <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
    <% end %>
  </div>
  <!------------------------------------->

  <div>
  <br>
    <% if flash[:message] %>
      <%= flash.now[:message] %>
    <% end %>
  </div>
  
    <%= yield %>

  </body>
</html>
